.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.BurgerButton {
  display: none;
}

.Logo {
  display: inline-block;
  height: 100px;
  margin: 10px;
  width: 100px;
}

.Logo > a {
  display: block;
  height: 100%;
  width: 100%;
}

.Logo > a > img {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.NavBar {
  width: 100%;
}

.NavBar .Active>a {
  color: white;
}

.NavBar > ul {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.NavBar>ul>li {
  align-items: center;
  border-left: 1px solid #c75eae;
  border-right: 1px solid #c75eae;
  color: #c75eae;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  font-size: .8em;
  padding: 4px;
  position: relative;
  text-transform: uppercase;
}

li>.SubMenu {
  
  display: none;
  list-style: none;
  left: 0;
  padding: 3px 0;
  position: absolute;
  top: 100%;
}

li:hover>.SubMenu {
  display: flex;
  flex-direction: column;
  gap: 2px;
  white-space: nowrap;
}

.SubMenu>li {
  background-color: #eebae2;
  box-shadow: 0 0 5px 0 #eebae2;
  padding: 5px;
}

.SubMenu>li:hover {
  box-shadow: 0 0 1px 0 black;
}

.NavBar li>a {
  color: #c75eae;
  text-decoration: none;
}

.NavBar li:hover, .Active {
  background-color: #eebae2;
  cursor:pointer;
  transition-duration: .4s;
}

.NavBar li:hover>a {
  color: white;
}

.SearchBar {
  display: inline-flex;
  height: 100px;
  margin: 10px;
  vertical-align: top;
  position: relative;
  width: fit-content;
}

.SearchBar > input {
  border: 2px solid black;
  border-radius: 30px;
  display: block;
  height: 30px;
  margin: auto;
  outline: none;
  padding: 0 30px 0 10px;
  width: 350px;
}

.SearchButton {
  background: transparent;
  border: none;
  cursor: pointer;
  height: 20px;
  position: absolute;
  right: 2px;
  top: 40px;
}

.WhatsApp {
  display: inline-flex;
  margin: 10px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.WhatsApp img {
  width: 55px;
}

footer {
  background-color: #332a86;
}

footer .Info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style: none;
  padding: 5px;
}

footer .Info li {
  color: #eebae2;
  flex-grow: 1;
}

footer .Info>li:nth-child(1) ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

footer .Info>li:nth-child(1) ul>label {
  flex-basis: 100%;
}

footer .Info>li:nth-child(1) li {
  align-items: center;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}

footer .Info>li:nth-child(1) li img:hover {
  box-shadow: none;
}

footer .Info>li:nth-child(2) ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0 15px;
  justify-content: center;
}

footer .Info>li:nth-child(2) ul>label {
  flex-basis: 100%;
}

footer .Info>li:nth-child(2) ul>li {
  flex-grow: 0;
}

footer .SubInfo {
  gap: 5px;
  list-style: none;
  padding: 0;
}

footer .SubInfo li {
  margin: 10px 0;
  text-align: center;
}

footer .SubInfo li a {
  display: block;
  height: 30px;
  width: 30px;    
}

footer .SubInfo li a img{
  border-radius: 100%;
  height: 30px;
  width: 30px;
  width: fit-content;
  transition: box-shadow .3s;
}

footer .SubInfo li a img:hover{
  box-shadow: 0 0 6px #c75eae;
}

hr {
  background-color: #332a86;
  height: 10px;
  margin: 0;
  width: 100%;
}

@media (max-width: 767px) {
  .BurgerButton {
    background-color: #332a86;
    box-shadow: 0 0 4px 0 #eebae2;
    border:1px solid #eebae2;
    border-radius: 100%;
    color: #eebae2;
    display: block;
    margin: 0 auto 5px;
    padding: 4px 8px;
    text-align: center;
    user-select: none;
    width: 2%;
  }

  .BurgerButton:hover {
    background-color: #eebae2;
    box-shadow: 0 0 4px 0 #332a86;
    color: #332a86;
    transition-duration: .2s;
  }

  .BurgerButton:hover+nav>ul {
    display: block;
    transition: scale .3s;
    scale: 1 1;

    @starting-style {
      scale: 1 0;
    }
  }

  .Logo {
    display: block;
    margin: auto;
  }
  
  .NavBar>ul {
    display: none;
    flex-direction: column;
    font-size: 1.5em;
    overflow: hidden;
    scale: 1 0;
    transition: scale .3s, display .3s linear allow-discrete;
    transform-origin: top;
    width: 100%;
  }

  .NavBar>ul>li {
    position: static;
  }

  li:hover>.SubMenu {
    width: 100%;
  }

  li:hover:has(.SubMenu) {
    flex-direction: column;
  }

  li:hover:has(.SubMenu) .SubMenu>li{
    width: 100%;
  }

  li.Active {
    flex-direction: column;
  }

  li>.SubMenu {
    position: static;
  }

  .SearchBar{
    display: block;
    margin: 0 auto 15px;
    height: max-content;
  }
  
  .SearchBar input{
    padding: 0 30px 0 10px;
    vertical-align: middle;
  }

  .SearchButton {
  top: 7px;
  }

  .SubMenu>li:hover {
    box-shadow: none;
  }
  
  .SubMenu.Active {
    display: flex;
    flex-direction: column;
  }
  
  .SubMenu.Active li {
    display: block;
  }
  
  footer .Info>li:nth-child(1) ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  footer .Info>li:nth-child(1) ul li {
    align-items: center;
    display: flex;
    gap: 15px;
    justify-content: left;
  }
  
  footer .Info>li:nth-child(1) li img:hover {
    box-shadow: none;
  }
}