.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.NavBar {
  width: 100%;
}

.NavBar > ul {
  background-color: white;
  display: flex;
  gap: 3px;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.NavBar li {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-left: 1px solid #c75eae;
  border-right: 1px solid #c75eae;
  border-top: 1px solid #c75eae;
  display: block;
  text-transform: uppercase;
  padding: 10px 0;
  width: 100%;
}

.NavBar li:first-child {
  background-color: #eebae2;
}

.NavBar li:hover {
  background-color: #eebae2;
  cursor:pointer;
  transition-duration: .4s;
}

.NavBar li:hover>a {
  color: white;
}
.NavBar li:last-child {
  border-right: none;
}

.NavBar li{
  color: #c75eae;
  text-align: center;
}

.NavBar li:first-child>a {
  color: white;
}

.SearchBar {
  margin: 0 auto;
  width: 50%;
}

.SearchBar > input {
  margin: 20px 0;
  outline: none;
  width: 100%;
}

hr {
  background-color: #332a86;
  height: 10px;
  margin: 0;
}