.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.BurgerButton {
  display: none;
}

.Logo {
  display: inline-block;
  height: 100px;
  margin: 10px;
  width: 100px;
}

.Logo > a {
  display: block;
  height: 100%;
  width: 100%;
}

.Logo > a > img {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.NavBar {
  width: 100%;
}

.NavBar > ul {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.NavBar li {
  align-items: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-left: 1px solid #c75eae;
  border-right: 1px solid #c75eae;
  border-top: 1px solid #c75eae;
  color: #c75eae;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  font-size: .8em;
  padding: 5px;
  text-transform: capitalize;
}

.NavBar li:hover {
  background-color: #eebae2;
  cursor:pointer;
  transition-duration: .4s;
}

.NavBar li:hover>a {
  color: white;
}

.SearchBar {
  display: inline-block;
  margin: 0 auto;
  width: 50%;
}

.SearchBar > input {
  margin: 20px;
  outline: none;
  width: 100%;
}

hr {
  background-color: #332a86;
  height: 10px;
  margin: 0;
  width: 100%;
}

@media (max-width: 767px) {
  .BurgerButton {
    background-color: #332a86;
    box-shadow: 0 0 4px 0 #eebae2;
    border:1px solid #eebae2;
    color: #eebae2;
    display: block;
    margin: 0 auto 5px;
    padding: 8px;
    width: 2%;
  }

  .BurgerButton:hover {
    box-shadow: 0 0 4px 0 #332a86;
    color: #332a86;
    background-color: #eebae2;
  }

  .BurgerButton:hover+nav>ul {
    display: block;
  }

  .NavBar ul {
    display: none;
    flex-direction: column;
    font-size: 1.5em;
    width: 100%;
  }
}